<%- include('./includes/head.ejs') %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
        defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/css/steps-history.css">
    </head>

    <body>
        <header>
            <%- include('./includes/side-nav.ejs') %>
        </header>

        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel blue lighten-5">
                            <p>
                                <span class="material-symbols-outlined">tips_and_updates</span>
                                Select a date range in order to view your step history.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12" action="/steps-history" method="POST">
                        <div class="card-panel">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="datefilter" type="text" name="datefilter" value="" />
                                    <label for="datefilter">Date Range</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Show me
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <% if (datesOfSteps) { %>
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <canvas id="myChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

                <script src="/js/steps-history.js"></script>
                <script type="text/javascript">
                    const ctx = document.getElementById('myChart').getContext('2d');

                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: <%- JSON.stringify(datesOfSteps) %>,
                            datasets: [{
                                label: '# of Steps',
                                data: <%- JSON.stringify(steps) %>,
                                backgroundColor: [
                                    'rgba(255, 152, 0, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 152, 0, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
                <%- include('./includes/end.ejs') %>